body {
  font-family: 'Lekton', sans-serif;
}

.flag-pic {
  display: none;
}

.boxes {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  height: 33.333%;
  justify-content: center;
  width: 33.333%;
}

.large-box {
  background-color: #090820;
  color: #FBFAF8;
  height: 33.333%;
  width: 66.667%;
}

.arrows {
  position: absolute;
  width: 100px;
  height: 100vh;
}

.next {
  right: -2%;
}

.back {
  right: 26%;
}

.quotes {
  margin-left: 10%;
  margin-top: 2%;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  margin-left: 10%;
  margin-top: 10%;
}

.cap {
  color: white;
}

.icons {
  margin-bottom: 5px;
  max-height: 40px;
  max-width: 40px;
}

.button-icons {
  max-height: 20px;
  max-width: 20px;
}

#buttons {
  float: left;
  margin-left: 10%;
  margin-top: 2%;
  width: 80%;
}

button {
  font-weight: 700;
}

button:hover {
  background-color: #240303;
}

.camping {
  float: left;
}

.fire {
  margin-right: 5px;
}

.do-not-contact {
  margin-left: 30%;
}

button {
  align-items: center;
  background-color: #313131;
  border: 2px solid #FBFAF8;
  color: #FBFAF8;
  display: flex;
}

.box1 {
  background-color: #313131;
}

.box2 {
  background-color: #2F2116;
}

.box3 {
  background-color: #240303;
}

.box4 {
  background-color: #090820;
}

.box5 {
  background-color: #090820;
}

.box6 {
  background-color: #313131;
}

.box7 {
  background-color: #240303;
}

#highly-regarded-portrait {
  background-image: url('images/ronswanson.jpg');
  background-position: center;
  background-position-x: 68%;
  background-position-y: top;
  background-size: cover;
  height: 100vh;
  width: 35%;
}

.suit-pic {
  height: 100%;
  width: 100%;
}

#container-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 65%;
}

@media screen and (max-width: 740px) {

h1 {
  font-size: 22px;
  margin: 20% 0 0 5%;
}

.arrows {
  height: 100vh;
}

.next {
  right: -3%;
}

.back {
  right: 23%;
}

.quotes {
  font-size: .8em;
  margin: 2% 0 0 5%;
}

#buttons {
  margin: 2% 0 5% 5%;
  width: 90%;
}
}

@media screen and (max-width: 550px) {

.flag-pic {
  display: block;
}

.freedom {
  height: 100%;
}

.arrows {
  height: 30vh;
}

.next {
  right: 0px;
}

.back {
  left: 0px;
}

.boxes {
  height: 20%;
  width: 50%;
}

.large-box {
  height: auto;
}

h1 {
  font-size: 1.2em;
  margin: 5% 0 0 5%;
}

#buttons {
  margin: 5% 0 5% 5%;
}

.quotes {
  margin: 5% 0 0 5%;
}

.box7 {
  height: 25%;
}

.container, .freedom, .box7, .large-box {
  width: 100%;
}

#highly-regarded-portrait {
  display: none;
  width: 0px;
}
}
